{% extends 'shop/shop_base.html' %}
{% load static %}
{% block content %}
<!-- Header End====================================================================== -->
<div id="carouselBlk">
	<div id="myCarousel" >
		<div class="carousel-inner">
		  <div class="item active">
		  <div class="container">
			<a href="#"><img style="width:100%" src="{% static 'themes/images/carousel/slider1.jpg' %}" alt="special offers"/></a>
			<div class="carousel-caption">
				  <h4>Second Thumbnail label</h4>
				  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				</div>
		  </div>
		  </div>

		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	  </div>
</div>
<div id="mainBody">


<!-- Sidebar ================================================== -->
<!-- Sidebar end=============================================== -->




{#				  <div class="thumbnail">#}
{#					<a  href="product_details.html"><img src="{% static 'themes/images/products/6.jpg' %}" alt=""/></a>#}
{#					<div class="caption">#}
{#					  <h5>Product name</h5>#}
{#					  <p> #}
{#						Lorem Ipsum is simply dummy text. #}
{#					  </p>#}
{#					 #}
{#					  <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>#}
{#					</div>#}




	</div>
</div>
{% endblock %}