{% extends 'shop/shop_base.html' %}
{% load static %}
{% block content %}
    {% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->

<!-- Sidebar end=============================================== -->
	<div class="span9">
{#    <ul class="breadcrumb">#}
{#		<li><a href="adminindex.html">Home</a> <span class="divider">/</span></li>#}
{#		<li class="active">Registration</li>#}
{#    </ul>#}
	<h3> ADD PRODUCTS HERE</h3>
	<div class="well">

	<form class="form-horizontal" action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}

		<h4>ADD PRODUCTS DETAILS</h4>




		<div class="control-group">
			<label class="control-label" for="inputFname1">Product Name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" name="Pname" required=""  value="{{ PR.pname }}" placeholder="">
			</div>
		 </div>

		<div class="control-group">
		<label class="control-label" for="input_email">Brand Name<sup>*</sup></label>
		<div class="controls">
		  <input type="text" required="" name="Bname" value="{{ PR.bname }}"  placeholder="">
		</div>
	  </div>	  
	<div class="control-group">
		<label class="control-label" for="inputPassword1">Price <sup>*</sup></label>
		<div class="controls">
		  <input type="number" required="" name="Price"  value="{{ PR.price }}" placeholder="">
		</div>
	  </div>
        <div class="control-group">
		<label class="control-label" for="inputPassword1">Stock <sup>*</sup></label>
		<div class="controls">
		  <input type="number" required="" name="Sto" value="{{ PR.stock }}"  placeholder="">
            <input type="hidden" required="" name="id" value="{{ PR.id }}"  placeholder="">
		</div>
	  </div>






		

	
	<div class="control-group">
			<div class="controls">

              <input   class="btn btn-large btn-success" type="submit" value="ADD PRODUCT" />
			</div>
		</div>

	</form>

</div>

</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
{% endblock %}