{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->

<!-- Sidebar end=============================================== -->
	<div class="span9">
{#    <ul class="breadcrumb">#}
{#		<li><a href="adminindex.html">Home</a> <span class="divider">/</span></li>#}
{#		<li class="active">Registration</li>#}
{#    </ul>#}
	<h3> User Registration</h3>
	<div class="well">

	<form class="form-horizontal" action="" method="post" >
        {% csrf_token %}
		<h4>Your personal information</h4>
		<div class="control-group">
{#		<label class="control-label">Title <sup>*</sup></label>#}
		<div class="controls">

		</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputFname1">First name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" name="Name" required=""  placeholder="First Name">
			</div>
		 </div>

		<div class="control-group">
		<label class="control-label" for="input_email">Email <sup>*</sup></label>
		<div class="controls">
		  <input type="text" required="" name="Email"  placeholder="Email">
		</div>
	  </div>	  
	<div class="control-group">
		<label class="control-label" for="inputPassword1">Password <sup>*</sup></label>
		<div class="controls">
		  <input type="password" required="" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  placeholder="Password">
		</div>
	  </div>
        <div class="control-group">
		<label class="control-label" for="inputPassword1">Usename<sup>*</sup></label>
		<div class="controls">
		  <input type="text" required="" name="username"  placeholder="Password">
		</div>
	  </div>
		<div class="control-group">
		<label class="control-label">Date of Birth <sup>*</sup></label>
		 <div class="controls">
			  <input required="" name="Dob" type="date"  placeholder="Date"/>
         </div>
	  </div>


		<h4>Your address</h4>

		
		<div class="control-group">
			<label class="control-label" for="address">Address<sup>*</sup></label>
			<div class="controls">
			  <input type="text" name="address" required=""  placeholder="Adress"/> <span>Street address, P.O. box, company name, c/o</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="address">Place<sup>*</sup></label>
			<div class="controls">
			  <input required="" name="place" type="text"  placeholder="Place"/>
			</div>
		</div>

		


		<div class="control-group">
			<label class="control-label" for="mobile">Mobile Phone </label>
			<div class="controls">
			  <input type="number" required="" name="mobile"  placeholder="Mobile Phone"/>
			</div>
		</div>
		
	<p><sup>*</sup>Required field	</p>
	
	<div class="control-group">
			<div class="controls">
				<input type="hidden" name="email_create" value="1">
				<input type="hidden" name="is_new_customer" value="1">
                <input  class="btn btn-large btn-success" type="submit" value="Register" />
			</div>
		</div>		
	</form>
</div>

</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
{% endblock %}