{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->

<!-- Sidebar end=============================================== -->
	<div class="span9">

	<h3> Login</h3>	
	<hr class="soft"/>
	
	<div class="row">

		<div class="span4">
			<div class="well">
			<h5>LOGIN HERE</h5>
			<form action="" method="post">
                {% csrf_token %}
			  <div class="control-group">
				<label class="control-label" for="inputEmail1">User Name</label>
				<div class="controls">
				  <input class="span3" name="NAME" required="" type="text" id="inputEmail1" placeholder="User Name">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label"  for="inputPassword1">Password</label>
				<div class="controls">
				  <input type="password" name="PASSWORD" required="" class="span3"  id="inputPassword1" placeholder="Password">
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="btn">Sign in</button>
				</div>
			  </div>
			</form>
		</div>
		</div>
	</div>	
	
</div>
</div></div>
</div>
<!-- MainBody End ============================= -->
{% endblock %}